encoder:
  type: 'resnet34'
method:
  type: 'lim'
  loss: 'nce'
  projector_hidden_dim: 2048
  projector_output_dim: 512
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
