encoder:
  type: 'ecapatdnn'
  channels: [1024, 1024, 1024, 1024, 3072]
method:
  type: 'simclr'
  enable_projector: false
  temperature: 0.03
trainer:
  last_checkpoint: 'models/ssps/voxceleb2/simclr_e-ecapa/_simclr/checkpoints/model_latest.pt'
  epochs: 110
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  sampler:
    enable: true
    create_contrastive_pairs: true
    randomize_at_each_epoch: true
  augmentation:
    enable: true
