encoder:
  type: 'resnet34'
method:
  type: 'swav'
  projector_hidden_dim: 2048
  projector_output_dim: 512
  ssps:
    start_epoch: 101
trainer:
  epochs: 101
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  ssps: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
