__pycache__
.ipynb_checkpoints

.vscode

.pypirc

*.egg-info
build
dist

data
env*
wandb

models/export/

models/**/tensorboard/
models/**/wandb/
models/**/*.json
models/**/*.pt
models/**/*.pkl

tests/resources/**/tensorboard/
tests/resources/**/wandb/
tests/resources/**/*.json
tests/resources/**/*.pt
