torch==1.11.0
torchaudio==0.11.0

numpy==1.23.1
pandas==1.4.3
soundfile==0.11.0
scikit-learn==1.0.2
speechbrain==0.5.13
tensorboard==2.10.0
wandb==0.13.3

ruamel.yaml==0.17.21
dacite==1.8.1
prettyprinter==0.18.0
tqdm==4.64.0

plotnine==0.9.0
plotly==5.10.0
seaborn==0.12.0