encoder:
  type: 'ecapatdnn'
  channels: [1024, 1024, 1024, 1024, 3072]
method:
  type: 'vicreg'
  projector_hidden_dim: 2048
  projector_output_dim: 512
  ssps:
    start_epoch: 100
    verbose: true
    sampling: 'kmeans-repr'
    kmeans_nb_prototypes: 50000
    inter_sampling_size: 1
    pos_queue_size: 50000
trainer:
  last_checkpoint: 'models/ssps/voxceleb2/vicreg_e-ecapa/_vicreg/checkpoints/model_latest_ssps-50k.pt'
  epochs: 110
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  ssps: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
