encoder:
  type: 'resnet34'
method:
  type: 'simclr'
  temperature: 0.03333333333
  enable_projector: false
  ssps:
    start_epoch: 100
    verbose: true
    sampling: 'kmeans-repr'
    inter_sampling_size: 5
trainer:
  batch_size: 200
  epochs: 110
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  ssps: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
