encoder:
  type: 'resnet34'
method:
  type: 'swav'
  projector_hidden_dim: 2048
  projector_output_dim: 512
  nb_prototypes: 6000
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  sampler:
    enable: true
    create_contrastive_pairs: true
    randomize_at_each_epoch: true
  augmentation:
    enable: true
