encoder:
  type: 'resnet34'
  pooling: false
method:
  type: 'cpc'
  nb_t_to_predict: 6
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
