encoder:
  type: 'resnet34'
method:
  type: 'simclr_margins'
  loss:
    loss: 'nt-xent-arcface'
    margin: 0.01
  enable_projector: false
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
