encoder:
  type: 'resnet34'
method:
  type: 'simclr'
  enable_projector: false
  temperature: 0.03
  ssps:
    start_epoch: 100
    verbose: true
    sampling: 'kmeans-repr'
    kmeans_nb_prototypes: 10000
    inter_sampling_size: 0
    pos_queue_size: 10000
trainer:
  last_checkpoint: 'models/ssps/voxceleb2/simclr_p-none/_simclr/checkpoints/model_latest_ssps-10k.pt'
  epochs: 110
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  ssps: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
