encoder:
  type: 'resnet34'
method:
  type: 'moco_margins'
  loss:
    loss: 'nt-xent-magface'
    magface_l_margin: 0.05
    magface_u_margin: 0.1
  enable_projector: false
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
