encoder:
  type: 'resnet34'
method:
  type: 'simclr_margins'
  loss: 'nt-xent-adaface'
  scale: 30
  enable_projector: false
trainer:
  batch_size: 200
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
