encoder:
  type: 'resnet34'
method:
  type: 'swav'
  projector_hidden_dim: 2048
  projector_output_dim: 512
  nb_prototypes: 6000
trainer:
  last_checkpoint: 'models/ssl/voxceleb2/swav/swav_proj-2048-BN-R-2048-BN-R-512_K-6000_t-0.1/checkpoints/model_epoch-79.pt'
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  sampler:
    enable: true
    create_contrastive_pairs: true
    randomize_at_each_epoch: true
  augmentation:
    enable: true
