encoder:
  type: 'resnet34'
  pooling: false
method:
  type: 'cpc'
  aggregator_dim: 128
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
