encoder:
  type: 'resnet34'
method:
  type: 'simclr'
  enable_projector: false
  temperature: 0.03
  ssps:
    start_epoch: 100
    verbose: true
    sampling: 'knn'
    intra_sampling_size: 1
    pos_queue_size: 1000000
trainer:
  last_checkpoint: 'models/ssps/voxceleb2/simclr/_simclr/checkpoints/model_latest_ssps-1M-knn.pt'
  epochs: 110
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  ssps: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
