encoder:
  type: 'resnet34'
method:
  type: 'supervised'
  nb_classes: 5994
trainer:
  last_checkpoint: 'models/ssps/voxceleb2/simclr/_simclr/checkpoints/model_latest.pt'
  batch_size: 200
  epochs: 120
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
dataset:
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
