encoder:
  type: 'resnet34'
method:
  type: 'simclr'
  temperature: 0.03333333333
  enable_projector: false
  ssps:
    start_epoch: 100
trainer:
  batch_size: 200
  epochs: 100
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
