encoder:
  type: 'resnet34'
method:
  type: 'moco'
  enable_projector: false
  temperature: 0.03
  queue_size: 32768
trainer:
  last_checkpoint: 'models/ssl/voxceleb2/moco/moco_proj-none_Q-32768_t-0.03_m-0.999/checkpoints/model_epoch-9.pt'
  ddp_sync_batchnorm: false
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  sampler:
    enable: true
    create_contrastive_pairs: true
    randomize_at_each_epoch: true
  augmentation:
    enable: true
