encoder:
  type: 'resnet34'
method:
  type: 'simclr'
  projector_output_dim: 256
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
