encoder:
  type: 'resnet34'
method:
  type: 'simclr'
  temperature: 0.03333333333
  enable_projector: false
trainer:
  last_checkpoint: 'models/ssps/voxceleb2/simclr/_simclr/checkpoints/model_latest.pt'
  batch_size: 200
  epochs: 120
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  sampler:
    enable: true
    create_contrastive_pairs: true
    randomize_at_each_epoch: true
  augmentation:
    enable: true
