encoder:
  type: 'resnet34'
method:
  type: 'simclr'
  enable_projector: false
  temperature: 0.03
trainer:
  last_checkpoint: 'models/ssps/voxceleb2/simclr_p-none/_simclr/checkpoints/model_latest.pt'
  epochs: 110
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
