encoder:
  type: 'resnet34'
  pooling: false
method:
  type: 'cpc'
  aggregator_dim: 512
  bidirectional: true
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
