encoder:
  type: 'resnet34'
method:
  type: 'moco'
trainer:
  ddp_sync_batchnorm: false
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
