encoder:
  type: 'resnet34'
method:
  type: 'vicreg'
  projector_hidden_dim: 2048
  projector_output_dim: 512
  inv_weight: 1.0
  var_weight: 1.0
  cov_weight: 0.1
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: false
