encoder:
  type: 'resnet34'
method:
  type: 'simclr'
  enable_projector: false
  temperature: 0.03
  ssps:
    start_epoch: 100
trainer:
  epochs: 100
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  ssps: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
