encoder:
  type: 'resnet34'
method:
  type: 'moco'
  enable_projector: false
  temperature: 0.3
  queue_size: 32768
trainer:
  epochs: 3
  ddp_sync_batchnorm: false
evaluation:
  validation:
    - type: 'sv_cosine'
  test:
    - type: 'sv_cosine'
      frame_length: null
dataset:
  ssl: true
  train: 'voxceleb2_train.csv'
  augmentation:
    enable: true
